<body style="background-color: black; width: 100vw; height: 100vh; margin: 0px;" [ngClass]="settings.backgroundStyle">
  <div class="overlayholder" [ngClass]="settings.position">
    <div *ngIf="!isConnected">
      PPPOverlay not connected
    </div>
    <div *ngIf="isConnected">
      <!--PPP Overlay here-->
      <div *ngFor="let item of arrData" style="color: white;">
        <div *ngIf="item.isRanked && isSongRunning" class="leaderboardentry">
          <div [ngSwitch]="item.leaderboardName">
            <img src="assets/ScoreSaber.png" class="leaderboardicon" *ngSwitchCase="'ScoreSaber'" />
            <img src="assets/BeatLeader.png" class="leaderboardicon" *ngSwitchCase="'BeatLeader'" />
            <img src="{{item.iconPath}}" class="leaderboardicon" *ngSwitchCase="'HitBloq'" />
            <div *ngSwitchDefault>...</div>
          </div>
          <div class="leaderBoardText" [ngStyle]="{ 'width': textSpaceStyle}">
            <label *ngIf="!showPB" [@ppInOutAnimation] class="pp" [ngStyle]="{ 'width': ppSpaceStyle}">{{item.pp | number: '1.2-2'}}{{item.ppSuffix}}</label>
            <label *ngIf="showPB" [@pbOutAnimation] class="personalBest">{{item.personalBest}}</label>
            <div *ngIf="!showPB" [@ppInOutAnimation] class="ppGain">
              <label>[</label>
              <label [ngClass]=styleGain(item)>{{item.ppGain | number: '1.2-2'}}{{item.ppSuffix}}</label>
              <label>]</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>